@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-radial {
  background: radial-gradient(
      at center top,
      rgba(255, 255, 255, 0.08) 0%,
      rgba(19, 39, 69, 0.89) 100%
    ),
    url("./../assets/images/hero2.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-video {
  background: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.08) 0%,
      rgba(19, 39, 69, 0.89) 100%
    ),
    url("./../assets/images/hero.jpeg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
.bg-design {
  background: url("./../assets/images/hero3.jpeg");
  background-size: contain;
  background-attachment: fixed;
}
