@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-radial {
  background: radial-gradient(
      at center top,
      rgba(255, 255, 255, 0.08) 0%,
      rgba(19, 39, 69, 0.89) 100%
    ),
    url("https://media.istockphoto.com/id/517445609/photo/hands-of-poor-child-scoop-drinking-water-africa.webp?s=2048x2048&w=is&k=20&c=InUWYnQyEWkag-xVSuGyt6GmaGAKDDOyLehj7he40RY=");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-video {
  background: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.08) 0%,
      rgba(19, 39, 69, 0.89) 100%
    ),
    url("https://media.istockphoto.com/id/119401087/photo/womans-hands-with-water-splash.jpg?s=2048x2048&w=is&k=20&c=Secgwh6fr6CUkaO66CDPr0hEFmIYfFYm4gdHqjmjnw8=");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
.bg-design {
  background: url("./../assets/images/water.jpeg");
  background-size: contain;
  background-attachment: fixed;
}
